<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Plant Manager Dashboard</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/styles.css}"/>

</head>
<body>

<!-- Logo and log out -->
<div class="logoAndLogOut">
    <div class="logo">
        <a href="/dashboard">
            <img src="/logoPlantManager.png" alt="logoPlantManager" class="logoLeft">
        </a>
    </div>
    <div class="logOut">
        <div sec:authorize="isAuthenticated()">
            <p>User: <span sec:authentication="name"></span></p>

            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <a onclick="document.forms['logoutForm'].submit()" class="logOutLink">Log out</a>
        </div>
    </div>
</div>

<!-- Section 'To be watered in next 3 days' -->
<div class="toBeWatered">
    <a type="button" class="buttonToBeWatered" th:href="@{toBeWateredSoon}">See plants that should be watered in next 3
        days</a>
</div>


<br><br>

<!-- Collapsible section 'Your plants' -->
<div class="wrap-collapsible">
    <input id="collapsible2" class="toggle" type="checkbox" checked>
    <label for="collapsible2" class="lbl-toggle">Your plants:</label>

    <div class="collapsible-content">
        <div class="content-inner">
            <main class="cards">

                <article class="card" th:each="entry : ${plant}">
                    <div class="image">
                        <img class="img"
                             th:src="@{/uploadedImages/{id}/{imageName}(id=${entry.id}, imageName=${entry.imageName})}"
                             onError="this.onerror=null;this.src='/addIcon.png';">
                    </div>
                    <div class="text">
                        <p th:text="${entry.plantName}"></p>
                        <!-- Button that redirects to page for editing plant -->
                        <a type="button" class="buttonEdit"
                           th:href="@{dashboard/editPlant/{id}(id=${entry.id})}">Edit</a>
                    </div>

                    <div>
                        <a th:href="@{dashboard/deletePlant/{id}(id=${entry.id})}">
                            <img src="/bin.png" class="binIcon"/>
                        </a>
                    </div>

                </article>

                <article class="card">
                    <div class="image">
                        <img class="img img-responsive full-width" src="/addIcon.png">
                    </div>
                    <div class="text">
                        <p>Your new plant</p>
                        <!-- Button that redirects to page for adding new plant -->
                        <a type="button" class="buttonEdit" th:href="@{dashboard/editPlant}">Add</a>
                    </div>
                </article>

            </main>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>

