<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Plant Manager</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/styles.css}"/>

</head>
<body>

<!-- Logo and log out -->
<div class="logoAndLogOut">
    <div class="logo">
        <a href="/dashboard">
            <img src="/logoPlantManager.png" alt="logoPlantManager" class="logoLeft">
        </a>
    </div>
    <div class="logOut">
        <div sec:authorize="isAuthenticated()">
            <p>User: <span sec:authentication="name"></span></p>

            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <a onclick="document.forms['logoutForm'].submit()" class="logOutLink">Log out</a>
        </div>
    </div>
</div>

<div class="edit-wrap">
    <div class="edit-html">
        <div class="edit-form">

            <!-- Confirmation form -->
            <form th:action="@{/toBeWateredSoon/confirmWatering}" th:object="${plant}" method="post">

                <div class="plantEditionTitle">
                    <p>Have you watered</p>
                    <p th:text="*{plantName}"></p>
                    <p>today?</p></div>
                <br>

                <!-- Footer -->
                <div class="modal-footer">
                    <input type="submit" class="buttonSave" value="YES" id="buttonSave">
                    <input type="cancel" class="buttonCancel" data-dismiss="modal" value="NO"
                           onclick="location.href = '/toBeWateredSoon';">
                </div>

                <input id="id" name="id" th:field="*{id}" type="hidden"></td>
                <input type="hidden" id="plantNameEdition" th:field="*{plantName}" name="plantName">
                <input type="hidden" id="roomEdition" th:field="*{Room.roomName}" name="roomName">
                <input type="hidden" id="wateringScheduleEdition" th:field="*{WateringSchedule.wateringInterval}"
                       name="wateringInterval" step=1 pattern="\d{3}" maxlength="3">
                <input type="hidden" id="lastWateredDateEdition" th:field="*{WateringSchedule.lastWateredDate}"
                       name="lastWateredDate">
                <input type="hidden" id="imageName" th:field="*{imageName}">

            </form>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>

